USE [master]
GO
/****** Object:  Database [db_imdb]    Script Date: 17-10-2021 10:25:45 ******/
CREATE DATABASE [db_imdb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'db_imdb', FILENAME = N'C:\Users\v-pyogi\db_imdb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'db_imdb_log', FILENAME = N'C:\Users\v-pyogi\db_imdb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [db_imdb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [db_imdb]
GO
USE [db_imdb]
GO
/****** Object:  Table [dbo].[tblActors]    Script Date: 17-10-2021 10:25:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblActors](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Bio] [text] NULL,
	[DOB] [nvarchar](50) NULL,
	[Gender] [int] NULL,
	[LogDetail] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblMovie]    Script Date: 17-10-2021 10:25:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblMovie](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Plot] [text] NOT NULL,
	[DateOfRelease] [nvarchar](100) NULL,
	[ProducerId] [int] NULL,
	[ActorMapId] [int] NOT NULL,
	[LogDetail] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[ActorMapId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblMovieActorMap]    Script Date: 17-10-2021 10:25:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblMovieActorMap](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MovieId] [int] NULL,
	[ActorId] [int] NULL,
	[MapId] [int] NOT NULL,
	[MapStatus] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblProducers]    Script Date: 17-10-2021 10:25:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblProducers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Bio] [text] NULL,
	[DOB] [nvarchar](50) NULL,
	[Gender] [int] NULL,
	[Company] [nvarchar](200) NOT NULL,
	[LogDetail] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblActors] ADD  DEFAULT (getdate()) FOR [LogDetail]
GO
ALTER TABLE [dbo].[tblMovie] ADD  DEFAULT (getdate()) FOR [LogDetail]
GO
ALTER TABLE [dbo].[tblMovieActorMap] ADD  DEFAULT ((1)) FOR [MapStatus]
GO
ALTER TABLE [dbo].[tblProducers] ADD  DEFAULT (getdate()) FOR [LogDetail]
GO
ALTER TABLE [dbo].[tblMovie]  WITH CHECK ADD FOREIGN KEY([ProducerId])
REFERENCES [dbo].[tblProducers] ([Id])
GO
ALTER TABLE [dbo].[tblMovieActorMap]  WITH CHECK ADD FOREIGN KEY([ActorId])
REFERENCES [dbo].[tblActors] ([Id])
GO
ALTER TABLE [dbo].[tblMovieActorMap]  WITH CHECK ADD FOREIGN KEY([MovieId])
REFERENCES [dbo].[tblMovie] ([Id])
GO
USE [master]
GO
